<div
    class="flex flex-col flex-auto min-w-0"
    cdkScrollable>

    <!-- Header -->
    <div class="relative pt-8 pb-28 px-4 sm:pt-20 sm:pb-48 sm:px-16 overflow-hidden bg-gray-800 dark:bg-gray-900 dark">
        <img style="width: 100%; opacity: 0.5" class="absolute inset-0 pointer-events-none" src="ark.jpg" alt="noahs-ark">
        <div class="z-10 relative flex flex-col items-center">
            <h2 class="text-xl font-semibold">CRYPTOARK</h2>
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                Start exchanging information
            </div>
            <div style="color: white !important" class="max-w-2xl mt-6 sm:text-2xl text-center tracking-tight text-secondary">
                Secure, private and anonymous
            </div>
        </div>
    </div>

    <div class="flex flex-col items-center pb-6 px-6 sm:pb-10 sm:px-10">
        <!-- Cards -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-y-8 md:gap-y-0 md:gap-x-6 w-full max-w-sm md:max-w-4xl -mt-16 sm:-mt-24">
            <!-- FAQs card -->
            <div class="relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transform transition-shadow ease-in-out duration-150">
                <div class="flex flex-col flex-auto items-center p-8 text-center">
                    <div class="text-2xl font-semibold">Contract</div>
                    <div class="md:max-w-40 mt-1 text-secondary">Access to contract code</div>
                </div>
                <div class="flex items-center justify-center py-4 px-8 text-primary-500 dark:text-primary-400 bg-gray-50 dark:bg-transparent dark:border-t">
                    <a
                        class="flex items-center"
                        [routerLink]="['sellers']">
                        <span class="absolute inset-0"></span>
                        <span class="font-medium">Go to BSCScan</span>
                        <mat-icon
                            class="ml-2 icon-size-5 text-current"
                            [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
                    </a>
                </div>
            </div>
            <!-- Guides card -->
            <div class="relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transform transition-shadow ease-in-out duration-150">
                <div class="flex flex-col flex-auto items-center p-8 text-center">
                    <div class="text-2xl font-semibold">Sellers</div>
                    <div class="md:max-w-40 mt-1 text-secondary">Find a seller and buy information</div>
                </div>
                <div class="flex items-center justify-center py-4 px-8 text-primary-500 dark:text-primary-400 bg-gray-50 dark:bg-transparent dark:border-t">
                    <a
                        class="flex items-center"
                        [routerLink]="['/cryptoArk/sellers']">
                        <span class="absolute inset-0"></span>
                        <span class="font-medium">Check sellers</span>
                        <mat-icon
                            class="ml-2 icon-size-5 text-current"
                            [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
                    </a>
                </div>
            </div>
            <!-- Support card -->
            <div class="relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transform transition-shadow ease-in-out duration-150">
                <div class="flex flex-col flex-auto items-center p-8 text-center">
                    <div class="text-2xl font-semibold">Purchased products</div>
                    <div class="md:max-w-40 mt-1 text-secondary">Manage purchased products</div>
                </div>
                <div class="flex items-center justify-center py-4 px-8 text-primary-500 dark:text-primary-400 bg-gray-50 dark:bg-transparent dark:border-t">
                    <a
                        class="flex items-center"
                        [routerLink]="['/cryptoArk/purchased-products']">
                        <span class="absolute inset-0"></span>
                        <span class="font-medium">Check purchased products</span>
                        <mat-icon
                            class="ml-2 icon-size-5 text-current"
                            [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
                    </a>
                </div>
            </div>
        </div>

        <div class="mt-24 text-3xl sm:text-5xl font-extrabold leading-tight tracking-tight text-center">How it works?</div>
        <div class="mt-2 text-xl text-center text-secondary">Here is the explanation of how CryptoArk works </div>
        <mat-accordion class="max-w-4xl mt-12">
            <ng-container>
                <mat-expansion-panel>
                    <mat-expansion-panel-header [collapsedHeight]="'56px'" >
                        <mat-panel-title>Start using CryptoArk</mat-panel-title>
                    </mat-expansion-panel-header>
                    In order to start using CryptoArk, you need to register as a buyer or seller. As soon as you are registered,
                    you will already have unlocked the functions of buying or selling products. To access them in the vendors menu
                    you can use the top button to register a new product. In case you want to buy, you must also access the vendors
                    menu to search for the desired vendor. When you enter the seller's detail, you will be able to see their products for sale.
                </mat-expansion-panel>
            </ng-container>
            <ng-container>
                <mat-expansion-panel>
                    <mat-expansion-panel-header [collapsedHeight]="'56px'" >
                        <mat-panel-title>Products</mat-panel-title>
                    </mat-expansion-panel-header>
                    The products contain 3 levels of information, each of them has a price set by the seller. Initially you have access to a first
                    description of the product for free. If you want more information about it, you must buy product information, first level 1 and
                    then the following. Finally the seller will reveal contact information for the purchase of the product.
                </mat-expansion-panel>
            </ng-container>
            <ng-container>
                <mat-expansion-panel>
                    <mat-expansion-panel-header [collapsedHeight]="'56px'">
                        <mat-panel-title>How to buy</mat-panel-title>
                    </mat-expansion-panel-header>
                    To buy products, you must access the sellers menu. Find the right seller and access his detail, there you can find all his
                    products for sale. If you are interested in one of them, you must click on buy and you must pay the price of the first level.
                    After the seller must decrypt the information personally, only the buyer can have access to said information. If the seller does
                    not decrypt the information within 30 days, the buyer can withdraw the amount paid for that level. If the seller decrypts the
                    information, the buyer can buy the next level. In the same way, the seller will have to decrypt the information, ... For the
                    purchase of levels 2 and 3, it will be accessed from the menu of purchased products. There you will also find the details of
                    the products purchased.
                </mat-expansion-panel>
            </ng-container>
            <ng-container>
                <mat-expansion-panel>
                    <mat-expansion-panel-header [collapsedHeight]="'56px'">
                        <mat-panel-title>How to sell</mat-panel-title>
                    </mat-expansion-panel-header>
                    To sell products you must access the sellers menu, where you will find a button to register products. To do this you must follow
                    the steps for your registration. When someone buys one of your products, said product will appear in the menu of purchased products
                    so that you can reveal the information paid.
                </mat-expansion-panel>
            </ng-container>
        </mat-accordion>

    </div>


</div>
